
<div *ngIf="tf" class= "coinResults">
  <h1 style="color:white">{{quansForPortf}} {{coinsForPortf}}</h1>
</div>
<div class="mat-elevation-z8 data-table">
  <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field> -->

  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
      <td mat-cell *matCellDef="let row">{{row.symbol}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let row">{{row.price}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let row">
        <form [formGroup]="tableForm" (ngSubmit)="updateVal(row.price, row.userCost, row.name)">
          <input type="number" formControlName='btcQuan' matInput placeholder="{{row.quantity}}" /> of {{row.name}}
          <button type="submit" mat-button>Update</button>
        </form>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="userCost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total per Coin</th>
      <td mat-cell *matCellDef="let row"> ${{row.userCost}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="60">
  </mat-paginator>
</div>