<app-navbar></app-navbar>
<app-top-coins></app-top-coins>


<hr />
<hr />

<h4 style="color:wheat">How Do</h4>
<p  style ="color:white">Here at Cryptonomics it is our goal to bring the cryptic world of Crypto Currency to an understandable and managable level. This site provides users who are new to the world of Block Chains, CryptoCurrency, and the Crypto MarketPlace a safe controlled environment unto which the users are able to buy and sell Coins using real-time pricing, real-time change, and real coins. All of this being done in a competitive environment. When you join a league you will be allotted 100,000 dollars, which you are able to choose which coins you would like to purchase as well as the quantity of the coins that you have chosen. Every week you will choose your coins that you would like to purchase and you will be displayed on a leaderboard against all others in the league. Goal being that who ever made the most money or who ends the week with the most money left wins that weeks league.</p>
<br />
<div id= btmLinks style="color: tomato">
<a routerLink="/login">Join The Weekly League!</a>
<a routerLink="/signup">Create Profile to Join The Weekly League!</a>
</div>
<br />
<br />