<div style="text-align:center">
  <!-- <form [formGroup] = 'navbar'> -->
  <mat-toolbar class="navbar">
    <a id="logBtn" routerLink = ""  (click) = "logout()" button mat-icon-button><img alt="icon" src="../../assets/iconforthing.png" id="navIcon"></a>
    <span class="filler">
      <h1>
        Cryptonomics
      </h1>
    </span>
    <div id="tglBtn">
        <a class="routeButton" routerLink = "/login">Login</a>
        <a class="routeButton" routerLink = "/signup">Sign-up</a>
    </div>
  </mat-toolbar>
<!-- </form> -->
</div>