<div id="lInputs">
    <mat-card class="Login">
        <mat-card-title>
            <h1>Login</h1>
        </mat-card-title>
        <mat-grid-list cols="1" rowHeight="1:1">
            <mat-card-content>
                <form [formGroup]='loginForm' (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <input matInput type="text" formControlName='username' placeholder="Username"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" formControlName='password' placeholder="Password"/>
                    </mat-form-field>
                    <br />
                    <button type="submit" routerLink="/portfolio" mat-button>Login</button>
                </form>
            </mat-card-content>
        </mat-grid-list>
    </mat-card>
</div>