<div id="lInputs">
        <mat-card class = "Login">
            <mat-card-title>
                <h1>Login</h1>
            </mat-card-title>
            <mat-grid-list cols= "1" rowHeight= "1:1">
            <mat-card-content>
                <form [formGroup] = 'loginForm' (ngSubmit)= "onSubmit()">
                <ol>
                <li><input type="text" formControlName= 'username' placeholder="Username" /></li>
                <li><input type="password" formControlName= 'password' placeholder="Password" /></li>
            </ol>
            <button type= "submit" mat-button>Login</button>
        </form>
            </mat-card-content>
        </mat-grid-list>
        </mat-card>
    </div>
