<div id="lInputs">
        <mat-card class = "Login">
            <mat-card-title>
                <h1>Login</h1>
            </mat-card-title>
            <mat-grid-list cols= "1" rowHeight= "1:1">
            <mat-card-content>
                <ol>
                <li><input type="text" placeholder="Username" /></li>
                <li><input type="password" placeholder="Password" /></li>
            </ol>
            </mat-card-content>
        </mat-grid-list>
        <button mat-button  *ngIf ="!lstoggle">Login</button>
        </mat-card>
    </div>
