<div fxLayout='row' fxLayoutWrap class="cards">

    <div fxFlex="20" class="example-card">
    <mat-card *ngFor="let value of data" style="margin-top:10px;">
      <mat-card-header>
        <mat-card-title>{{value.CoinInfo.Name}}</mat-card-title>
        <mat-card-subtitle>{{value.CoinInfo.FullName}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.cryptocompare.com{{value.CoinInfo.ImageUrl}}" alt="cryptocurrency logo">
      <mat-card-content>
        <p>
          {{value.DISPLAY.USD.PRICE}}
        </p>
        <p>
            {{value.DISPLAY.USD.CHANGEPCT24HOUR}}
        </p>
      </mat-card-content>
    </mat-card>