

.card {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    width: 22%;
    display: inline-block;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    border-style: outset;
    border-width: 1em;
    box-shadow: 5px 10px 18px rgb(111, 243, 70);
    background-color: rgb(196, 195, 195)
    
}
img {
    width: 60%
}
