<app-navbar></app-navbar>
<div id="doStuff">
    <mat-card id="centerpls">
        <mat-card-title>
            <h1>coins</h1>
        </mat-card-title>
        <mat-card-content>
            <h4>item</h4>
            <h4>prices</h4>
        </mat-card-content>
    </mat-card>
    <mat-card id="centerpls">
        <mat-card-title>
            <h1>coins</h1>
        </mat-card-title>
        <mat-card-content>
            <h4>item</h4>
            <h4>prices</h4>
        </mat-card-content>
    </mat-card>
    <mat-card id="centerpls">
        <mat-card-title>
            <h1>coins</h1>
        </mat-card-title>
        <mat-card-content>
            <h4>item</h4>
            <h4>prices</h4>
        </mat-card-content>
    </mat-card>
</div>
<app-stock-fetch></app-stock-fetch>