<!--The content below is only a placeholder and can be replaced.-->

<!-- <div style="text-align:center">
<mat-toolbar class= "navbar">
  <button mat-icon-button>Logo Design Here</button>
  <span class = "filler">
      <h1>
          Welcome to redBadgeClient
        </h1>
  </span>
  <button id= "logBtn" mat-icon-button>Login/Signup</button>
  </mat-toolbar>
</div>
<hr />
<hr />
<app-singup-login></app-singup-login> -->


<app-stock-fetch></app-stock-fetch>


<!-- <app-navbar></app-navbar>

<hr />
<hr />
<app-singup-login></app-singup-login>
<router-outlet></router-outlet>
 -->
