/* th, td {
    width: 33vw
} */

@media only screen and (max-width: 600px) {
    mat-card {
        width: 80vw;
        margin:5vw;
        display: inline-block;
        /* background-image: url('../../assets/boybg.png'); */
        background-position-x: 50%;
        background-position-y: 25%
    }
}

@media only screen and (min-width: 993px) {
    mat-card {
        width: 20vw;
        margin:1em;
        display: inline-block;
        /* background-image: url('../../assets/boybg.png'); */
        background-position-x: 50%;
        background-position-y: 25%
    }
}

#centerpls { 
    text-align: center
}