/* th, td {
    width: 33vw
} */

mat-card {
    width: 20vw;
    margin:1em;
    display: inline-block;
    background-image: url('../../assets/boybg.png');
    background-position-x: 50%;
    background-position-y: 25%
}

#centerpls { 
    text-align: center
}